<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.demo.dao.UserInfoBackMapper">
	<select id="findById" parameterType="Integer" resultMap="usermap">
		select * from user_info_back where id = #{id}
	</select>
	
	<resultMap type="UserInfoBack" id="usermap">
		<id column="user_id" property="userId"></id>
		<result column="user_name" property="userName"></result>
		<result column="user_sex" property="userSex"></result>
		<result column="user_phone" property="userPhone"></result>
			<result column="user_pw" property="userPw"></result>
		<result column="user_type" property="userType"></result>
	</resultMap> 
	
	<insert id="insertUserInfoBack" parameterType="UserInfoBack">
		insert into user_info_back(name) values(#{name})
	</insert>
	
	
	<select id="countByExample" parameterType="UserInfoBack" resultType="long" >
    select count(*) from user_info_back
   <where>
			<if test="userName != null and userName != ''">
				<bind name="namePattern" value="'%' + _parameter.userName + '%'"></bind>
				and user_name like #{namePattern}
			</if>
			<if test="userPhone != null and userPhone != ''">
				<bind name="phonePattern" value="'%' + _parameter.userPhone + '%'"></bind>
				and user_phone like #{phonePattern}
			</if>
		</where>
		
  </select>
	
	<select id="getUserInfoBackList" parameterType="UserInfoBack" resultMap="usermap">
	     select * from user_info_back
	     	<where>
			<if test="userName != null and userName != ''">
				<bind name="namePattern" value="'%' + _parameter.userName + '%'"></bind>
				and user_name like #{namePattern}
			</if>
			<if test="userPhone != null and userPhone != ''">
				<bind name="phonePattern" value="'%' + _parameter.userPhone + '%'"></bind>
				and user_phone like #{phonePattern}
			</if>
		</where>
		<if test="start!=-1 and length!=-1 ">
	     limit #{start},#{length}
	     </if>
	</select>
	
	<insert id="addUserInfo" parameterType="UserInfoBack">
		insert into user_info_back(user_name,user_sex,user_phone,user_pw,user_type) 
		values(#{userName},#{userSex},#{userPhone},#{userPw},#{userType})
	</insert>
	<delete id="deleteUserInfo" parameterType="UserInfoBack">
		delete from user_info_back where user_id = #{userId}
	</delete>
	
		<select id="getUserInfo" parameterType="UserInfoBack" resultMap="usermap">
		select * from user_info_back
		<where>
			<if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
			<if test="userPhone != null and userPhone != ''">
				and user_phone = #{userPhone}
			</if>
			<if test="userPw != null and userPw != ''">
				and user_pw = #{userPw}
			</if>
		</where>
	</select>
	
	<update id="updateUserInfo" parameterType="UserInfoBack">
		update user_info_back
		<set>
			<if test="userName != null and userName != ''">
				user_name = #{userName},
			</if>
			<if test="userSex != null and userSex != ''">
				user_sex = #{userSex},
			</if>
			<if test="userPhone != null and userPhone != ''">
				user_phone = #{userPhone},
			</if>
			<if test="userPw != null and userPw != ''">
				user_pw = #{userPw},
			</if>
			<if test="userType != null and userType != ''">
				user_type = #{userType},
			</if>
		</set>
		where user_id = #{userId}
	</update>
</mapper>